.header {
    width: 375px;
    position: absolute;
    z-index: 9999;
    top: 40px;
    left: 0;
}

.search-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.header .list {
    display: none;
}

@media (max-width: 375px) {
    .header {
        width: 100%;
    }
}

@media (min-width: 376px) {
    .header {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 100%;
    }

    .header .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .header-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: none;
        color: white;
    }

    .header-link:hover {
        color: var(--main-color);
    }

    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}