.header {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: 0;
}

.search-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.header .list {
    display: none;
}

@media (min-width: 768px) {
  .header .list {
    display: block;
  }
}