body {
    width: 375px;
}

.hero {
    position: relative;
    height: 1104px;
    background: url("../images/rock.webp") center / cover no-repeat;
    color: white;
}

.hero .container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.468);
    padding-top: 150px;
}

.hero .title {
    color: white;
    font-weight: 700;
    font-size: 58.15px;
    line-height: 63px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.info {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.329);
}