body {
    width: 100%;
}

@media (max-width: 767px) {
    body {
        width: 100%;
    }
}

@media (min-width: 768px) {
    body {
        width: 100%;
    }
}


/* 1 section */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 1104px;
    color: white;  
    background: 
        linear-gradient(rgba(0, 0, 0, 0.357), rgba(0, 0, 0, 0.321)),
        url("../images/rock.webp");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

@media (max-width: 375px) {
    .hero {
        padding-top: 100px;
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 376px) {
    .hero {
        padding-top: 140px;
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 190px 8% 8% 100px;
    }
}

@media (min-width: 1024px) {
    .hero {
        align-items: normal;
        padding: 240px 0 0 240px;
        min-width: 100%;
        height: 1080px;
    }
}

.vertical {
    display: none;
}

@media (min-width: 768px) {
    .vertical {
        position: absolute;
        top: 900px;
        left: 0;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform: rotate(180deg);
        height: 150px;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px;
        align-items: end;
        gap: 280px;
    }
    .vertical-part {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .line {
        display: flex;
        flex-direction: row-reverse;
    }

    .white-line {
        width: 2px;
        height: 296px;
        background-image: linear-gradient(
            white 98%,
            rgb(109, 109, 109) 100%
        );
    }

    .red-line {
        width: 2px;
        height: 100px;
        background-color: var(--main-color);
    }

}

.hero .title {
    color: white;
    font-weight: 700;
    font-size: 58.15px;
    line-height: 63px;
    letter-spacing: 0%;
    font-family: var(--second-font);
}

@media (max-width: 375px) {
    .hero .title {
        font-size: 45px;
        line-height: 50px;
    }
}

@media (min-width: 376px) {
    .hero .title {
        font-size: 60px;
        line-height: 65px;
    }
}

@media (min-width: 768px) {
    .hero .title {
        font-weight: 110px;
        line-height: 70px;
    }
}

@media (min-width: 1024px) {
    .hero .title {
        font-weight: 900;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0%;
    }
}

.box {
    display: flex;
    flex-direction: column;
}

@media (max-width: 375px) {
    .box {
        max-width: 300px;
    }
}

@media (min-width: 376px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
    .box {
        flex-direction: row;
    }
}

.info {
    width: 314px;
    margin-top: 50px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.589);
}

@media (max-width: 375px) {
    .info {
        max-width: 314px;
        padding: 20px;
    }
}

@media (min-width: 376px) {
    .info {
        min-width: 314px;
    }
}

@media (min-width: 768px) {
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: end;
        align-self: flex-end;
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1226px;
    }
}

.start-btn {
    width: 315px;
    height: 59px;
    border: 0;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #FFFFFFCC;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    font-family: var(--main-font);
}

@media (max-width: 375px) {
    .start-btn {
        max-width: 220px;
        font-size: 14px;
    }
}

@media (min-width: 376px) {
    .start-btn {
        width: 315px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .start-btn {
        width: 315px;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .start-btn {
        width: 271px;
        height: 80px;
        font-size: 20px;
    }
}

.number {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--main-color);
}

.info-item {
    width: 210px;
}

.info-title {
    font-weight: 700;
    font-size: 26.41px;
    line-height: 41.08px;
    letter-spacing: 0px;
}

.hero .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

@media (max-width: 375px) {
    .hero .text {
        font-size: 12px;
    }
}

@media (min-width: 376px) {
    .hero .text {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .hero .text {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .hero .text {
        font-size: 16px;
    }
}

.beach {
    margin-top: 2px;
    width: 314px;
    height: auto;
}

@media (min-width: 768px) {
    .beach {
        width: 354px;
    }
}

@media (min-width: 1024px) {
    .beach {
        width: 419px;
    }
}





/* 2 section */

.walk {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    background-color: var(--blue-bg);
}

.walk-img {
    width: 314px;
    height: auto;
    border-radius: 10px;
}

.side {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.walk .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    color: var(--title-white);
}

.walk .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--lighter-text);
}

.more-btn {
    width: 314px;
    height: 72px;
    background-color: var(--main-color);
    color: var(--title-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border: 0;
    border-radius: 30px;
}

.walkways {
    padding: 8%;
    background: url("../images/path-transparent.webp") center / cover no-repeat;
}

.beaches {
    padding: 8%;
    background: url("../images/beach-transparent.webp") center / cover no-repeat;
}




/* 3 section */

.secrets {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2030px;
    background: url("../images/yellow-jacket.webp") center / cover no-repeat;
}

.secrets .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px;
    vertical-align: middle;
    color: var(--blue-bg);

}

.secret-img {
    width: 314px;
    height: auto;
    border-radius: 10px;
}

.img-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dots {
    height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 13px;
}

.bi-circle-fill {
    color: rgba(133, 163, 178, 1);
}

.line-fill {
    width: 43px;
    height: 16px;
    background-color: rgba(221, 34, 66, 1);
    border-radius: 10px;
    margin: 0;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 1100px;
    left: 0;
    height: 929px;
    padding: 10%;
    background-color: rgba(1, 8, 23, 0.905);
}

.numbers .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--title-white);
}

.numbers .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--lighter-text);
}

.red-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(221, 34, 66, 1);
}

.numbers-holder {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}




/* 4 section */

.hills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 741px;
    background: url("../images/waves.webp") top / contain no-repeat, url("../images/downwaves.webp") bottom / contain no-repeat;
}

.hills .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.hills .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--paragraph);
}




/* 5 section */

.livelife {
    height: 1451px;
    background: url("../images/7a0fde2683deff59c7a0d5c9bef203d42a884db9.webp") center / cover no-repeat;
}

.livelife .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 1451px;
    padding: 8%;
    background-color: rgba(2, 3, 20, 0.587);
}

.livelife .title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--title-white);
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

b {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--title-white);
}

.video-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--text-color);
}




/* 6 section */

.gallery-section {
    height: 752px;
    padding: 8%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-section .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--blue-bg);
}

.gallery-section .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--paragraph);
}

/* .gallery {
  column-count: 2;
  column-gap: 10px;
}

.gallery-img {
  width: 151px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: block;
} */

.gallery-img {
    width: 151px;
    border-radius: 12px;
    display: block;
    margin-bottom: 10px;
}

.main-gallery {
    column-count: 2;
    column-gap: 10px;
}

.wrap-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
}




/* 7 section */

.getting {
    background-color: rgba(220, 232, 242, 1);
    min-height: 1200px;
    padding: 8%;
    text-align: center;
}

.getting .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    color: rgba(1, 10, 32, 1);
}

.part .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(1, 10, 32, 1);
}

.point {
    margin: 40px 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--main-color);
    font-weight: 400;
    font-size: 26.41px;
    line-height: 38.15px;
    letter-spacing: 0px;
    color: white;
}

.desktop-text {
    display: none;
}

.desktop-part {
    display: none;
}

.motor {
    width: 314px;
    height: auto;
    margin: 25px 0;
}

.wrapper {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
}

.wrapper input {
    display: none;
}

.part-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 200px;
    color: var(--text-color);
    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.wrapper input:checked ~ .part-text {
    max-height: 300px;
}

.btn::after {
    content: "Show more";
    cursor: pointer;
    display: inline-block;
    color: var(--main-color);
}

.wrapper input:checked ~ .btn::after {
    content: "Hide";
}

.l-more-btn {
    display: none;
    
}

/* @media (min-width: 768px) {
  .l-more-btn {
    display: block;
    width: 210px;
    height: 64px;
    border-radius: 122px;
    border: 0;
    background-color: rgba(221, 34, 66, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
  }
} */