body {
    width: 100%;
}



/* 1 section */

.hero {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 1104px;
    color: white;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.357), rgba(0, 0, 0, 0.321)),
        url("../images/rock.webp");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

@media (min-width: 375px) {
    .hero {
        padding-top: 140px;
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 190px 8% 8% 100px;
    }
}

@media (min-width: 1024px) {
    .hero {
        align-items: normal;
        padding: 240px 0 0 240px;
        min-width: 100%;
        height: 1080px;
    }
}

.vertical {
    display: none;
}

@media (min-width: 768px) {
    .vertical {
        position: absolute;
        top: 900px;
        left: 0;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform: rotate(180deg);
        height: 150px;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px;
        align-items: end;
        gap: 280px;
    }
    .vertical-part {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .line {
        display: flex;
        flex-direction: row-reverse;
    }

    .white-line {
        width: 2px;
        height: 296px;
        background-image: linear-gradient(
            white 98%,
            rgb(109, 109, 109) 100%
        );
    }

    .red-line {
        width: 2px;
        height: 100px;
        background-color: var(--main-color);
    }

}

.hero .title {
    color: white;
    font-weight: 700;
    font-size: 45px;
    line-height: 63px;
    letter-spacing: 0%;
    font-family: var(--second-font);
}

@media (min-width: 375px) {
    .hero .title {
        font-size: 60px;
        line-height: 65px;
    }
}

@media (min-width: 768px) {
    .hero .title {
        font-size: 110px;
        line-height: 100px;
    }
}

@media (min-width: 1024px) {
    .hero .title {
        font-weight: 900;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0%;
    }
}

.box {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .box {
        height: 250px;
        flex-direction: row;
    }
}

.info {
    width: 300px;
    margin-top: 50px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.589);
}

@media (min-width: 768px) {
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: end;
        align-self: flex-end;
        width: 700px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        gap: 30px;
    }
}

.start-btn {
    width: 315px;
    height: 59px;
    border: 0;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #FFFFFFCC;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    font-family: var(--main-font);
}

@media (max-width: 375px) {
    .start-btn {
        max-width: 220px;
        font-size: 14px;
    }
}

@media (min-width: 376px) {
    .start-btn {
        width: 315px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .start-btn {
        width: 315px;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .start-btn {
        width: 271px;
        height: 80px;
        font-size: 20px;
    }
}

.number {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--main-color);
}

.info-item {
    width: 210px;
}

.info-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
}

.hero .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .hero .text {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .hero .text {
        font-size: 12px;
    }
}

.beach {
    margin-top: 2px;
    width: 300px;
    height: auto;
}

@media (min-width: 768px) {
    .beach {
        width: 354px;
    }
}

@media (min-width: 1024px) {
    .beach {
        width: 354px;
    }
}





/* 2 section */

.walk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1400px;
    background-color: var(--blue-bg);
}

.walk-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.side {
    width: 300px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .side {
        width: 430px;
    }
}

.walk .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    color: var(--title-white);
}

.walk .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--lighter-text);
}

.more-btn {
    width: 300px;
    height: 72px;
    background-color: var(--main-color);
    color: var(--title-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border: 0;
    border-radius: 30px;
}

@media (min-width: 768px) {
    .side {
        gap: 10px;
    }

    .walk .title {
        font-size: 20px;
        line-height: 25px;
    }

    .walk .text {
        font-size: 12px;
        line-height: 20px;
    }

    .more-btn {
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .side {
        width: 360px;
        gap: 10px;
    }

    .walk .title {
        font-size: 35px;
        line-height: 40px;
    }

    .walk .text {
        font-size: 14px;
        line-height: 20px;
    }

    .more-btn {
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
}



.walkways {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background: url("../images/path-transparent.webp") center / cover no-repeat;
}

.beaches {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background: url("../images/beach-transparent.webp") center / cover no-repeat;
}

@media (min-width: 768px) {
    .walk {
        height: 1000px;
    }

    .walk-img {
        width: 300px;
    }

    .walkways {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
    }

    .beaches {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 80px;
    }
}

@media (min-width: 1024px) {
    .walk {
        height: 1400px;
    }
    .walk-img {
        width: 400px;
    }

    .walkways {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .beaches {
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;
    }
}




/* 3 section */

.secrets {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2030px;
    background: url("../images/yellow-jacket.webp") center / cover no-repeat;
}

.secrets-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    vertical-align: middle;
    color: var(--blue-bg);

}

.secret-img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.desctop-secret-img {
    display: none;
}

@media (min-width: 768px) {
    .desctop-secret-img {
        display: block;
        width: 200px;
    }

    .secret-img {
        display: none;
    }
}

@media (min-width: 1024px) {
    .desctop-secret-img {
        width: 300px;
    }
}

.img-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dots {
    height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 13px;
}

.bi-circle-fill {
    color: rgba(133, 163, 178, 1);
}

.line-fill {
    width: 43px;
    height: 16px;
    background-color: rgba(221, 34, 66, 1);
    border-radius: 10px;
    margin: 0;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 1100px;
    left: 0;
    width: 100%;
    height: 929px;
    padding: 10%;
    background-color: rgba(1, 8, 23, 0.905);
}

@media (min-width: 1024px) {
    .secrets {
        height: 1801px;
    }
    .numbers {
        height: 700px;
    }
}

.numbers .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--title-white);
}

.numbers .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--lighter-text);
}

@media (min-width: 1024px) {
    .text.suptitle-text {
        width: 480px;
    }
}

.red-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(221, 34, 66, 1);
}

.number-card {
    max-width: 300px;
}

.numbers-holder {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media (min-width: 1024px) {
    .numbers-holder {
        flex-direction: row;
    }
}




/* 4 section */

.hills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    height: 741px;
    background: url("../images/waves.webp") top left / contain no-repeat, url("../images/downwaves.webp") bottom right / contain no-repeat;
}

.hills .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hills-btn {
    width: 280px;
    height: 60px;
    background-color: var(--main-color);
    color: var(--title-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border: 0;
    border-radius: 30px;
}

@media (min-width: 1024px) {
    .hills-btn {
        width: 240px;
    }
}

.hills .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.hills .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--paragraph);
}

@media (min-width: 768px) {
    .hills .text {
        width: 470px;
    }
}




/* 5 section */

.livelife {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 1451px;
    background:  center / cover no-repeat;    
    background: 
        linear-gradient(rgba(0, 0, 0, 0.707), rgba(0, 0, 0, 0.579)),
        url("../images/7a0fde2683deff59c7a0d5c9bef203d42a884db9.webp");
    background-size: cover;
    background-position: center;
}

.livelife .title {
    margin-top: 80px;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--title-white);
}

.livelife-img {
    width: 280px;
}

.live-img {
    width: 280px;
}

.video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

b {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--title-white);
}

.video-card p {
    width: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .livelife {
        height: 900px;
    }

    .livelife-img {
        min-width: 500px;
    }

    .live-img {
        width: 100px;
    }

    .video-card {
        gap: 20px;
        flex-direction: row;
        text-align: left;
    }

    b {
        font-size: 14px;
        line-height: 35px;
    }

    .video-card p {
        width: 220px;
        font-size: 10px;
        line-height: 15px;
    }
    
    .video-card_wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

@media (min-width: 1024px) {
    .livelife {
        height: 1100px;
    }

    .livelife-img {
        min-width: 800px;
    }

    .live-img {
        width: 200px;
    }

    .video-card {
        gap: 20px;
        flex-direction: row;
        text-align: left;
    }

    b {
        font-size: 18px;
        line-height: 35px;
    }

    .video-card p {
        width: 250px;
        font-size: 14px;
    }
    
    .video-card_wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}




/* 6 section */

.gallery-section {
    height: 752px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery-section .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--blue-bg);
}

.gallery-section .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--paragraph);
}

/* .gallery {
    column-count: 2;
    column-gap: 10px;
}

.gallery-img {
    width: 151px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: block;
} */

.gallery-img {
    width: 130px;
    border-radius: 12px;
    display: block;
    margin-bottom: 10px;
}

.main-gallery {
    column-count: 2;
    column-gap: 10px;
}

.wrap-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (min-width: 768px) {

    .gallery-section .text {
        width: 350px;
    }

    .gallery-img {
        width: 170px;
        border-radius: 5px;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .wrap-gallery {
        flex-direction: column;
        gap: 0;
    }
}

@media (min-width: 1024px) {
    .gallery-img {
        width: 200px;
    }
}




/* 7 section */

.getting {
    padding-top: 80px;
    background-color: rgba(220, 232, 242, 1);
    min-height: 1200px;
    text-align: center;
}

.getting .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    color: rgba(1, 10, 32, 1);
}

.part .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(1, 10, 32, 1);
}

.desktop-point {
    display: none;
}

.point {
    margin: 40px 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--main-color);
    font-weight: 400;
    font-size: 26.41px;
    line-height: 38.15px;
    letter-spacing: 0px;
    color: white;
}

.desktop-text {
    display: none;
}

.desktop-part {
    display: none;
}

.motor {
    width: 300px;
    height: auto;
    margin: 25px 0;
}

.wrapper {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
}

.wrapper input {
    display: none;
}

.part-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 200px;
    color: var(--text-color);
    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.wrapper input:checked ~ .part-text {
    max-height: 300px;
}

.btn::after {
    content: "Show more";
    cursor: pointer;
    display: inline-block;
    color: var(--main-color);
}

.wrapper input:checked ~ .btn::after {
    content: "Hide";
}

.l-more-btn {
    display: none;
    
}

@media (min-width: 1024px) {
    .getting .container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .getting {
        min-height: 900px;
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        display: none;
    }

    .desktop-text {
        width: 700px;
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0px;
        color: var(--text-color);
    }

    .desktop-part .desktop-text {
        width: 380px;
    }

    .desktop-part {
        display: block;
    }

    .string {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .point {
        display: none;
    }

    .point-holder {
        height: 490px;
        width: 2px;
        background-color: #7c7c7c33;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .desktop-point {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--main-color);
        font-weight: 400;
        font-size: 20px;
        line-height: 38.15px;
        letter-spacing: 0px;
        color: white;
    }

    .desktop-point:last-child {
        margin-top: 215px;
    }

    .sup-part {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}